<section data-label="{{localize 'S0.Aprimoramento'}}" class="S0-page">
    <h2> {{localize 'S0.Aprimoramentos'}} </h2>

    <div class="S0-enhancement-container">
        {{> "systems/setor0OSubmundo/templates/actors/enhancement-partial.hbs" item-id=1}}
        {{> "systems/setor0OSubmundo/templates/actors/enhancement-partial.hbs" item-id=2}}
        {{> "systems/setor0OSubmundo/templates/actors/enhancement-partial.hbs" item-id=3}}
        {{> "systems/setor0OSubmundo/templates/actors/enhancement-partial.hbs" item-id=4}}
    </div>

</section>