<section data-label="Network" class="S0-page" id="networkPage" data-icon="fas fa-users">
    {{> networkPartial title='S0.Aliados' type='allies'}}
    {{> networkPartial title='S0.Informantes' type='informants'}}
</section>