/* #region HTML ITEMS */
body {
    --color-shadow-primary: var(--shadow-hover-color);
    --color-underline-header: var(--secondary-color);
    --color-scrollbar: var(--secondary-color);
    --color-scrollbar-border: var(--primary-color);
}

:root {
    --focus-color: rgba(255, 250, 190, 1);
    --primary-color: rgba(255, 220, 0, 1);
    --primary-color-alpha: rgba(255, 220, 0, 0.8);
    --primary-color-alpha-50: rgba(255, 220, 0, 0.5);
    --secondary-color: rgba(65, 0, 130, 1);
    --secondary-color-alpha: rgba(65, 0, 130, 0.8);
    --secondary-color-alpha-50: rgba(65, 0, 130, 0.5);
    --light-secondary-color-alpha-50: rgba(155, 30, 255, 0.5);
    --selected-color-hover: rgba(255, 0, 0, 0.6);
    --deletable-color-hover: rgba(255, 0, 0, 0.8);
    --sheet-color: rgba(255, 255, 255, 1);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --shadow-color-30: rgba(0, 0, 0, 0.3);
    --shadow-hover-color: rgba(130, 0, 255, 0.8);
    --alternate-black-color: rgba(50, 50, 50, 1);
    --color-gray-alpha: rgba(80, 80, 80, 0.8);
    --color-checkbox-checked: var(--secondary-color);

    --whisper-color-alpha-50: rgba(20, 20, 60, 0.5);

    --min-width-tooltip: 200px;
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 8px;

    /* replace variables */
    --color-shadow-primary: var(--shadow-hover-color);
    --color-underline-header: var(--secondary-color);
    --color-scrollbar: var(--secondary-color);
    --color-scrollbar-border: var(--primary-color);
}

@font-face {
    font-family: 'Setor0';
    src: url('./fonts/Setor0-Navigator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: black;
    background-color: var(--primary-color);
    box-shadow: none;
}

section {
    margin-inline: 4px;
    border-top: 2px solid var(--color-underline-header);
    border-bottom: 2px solid var(--color-underline-header);
}

h1,
h2,
h3,
h4 {
    font-family: 'Setor0';
    letter-spacing: 0.03em;
    margin: 0.3rem 0;
    border: none;
}

h2 a,
h3 a {
    font-size: small;
    margin-inline: 3px
}

h2 a:hover,
h3 a:hover {
    text-shadow: 0 0 8px var(--shadow-hover-color);
}

/* #endregion */

/* #region EDIT FOUNDRY STYLE */

.combat-sidebar li.combatant .roll {
    background: url(../icons/d10.png) no-repeat 50% 50%;
    background-size: 32px;
    transition: background-size 0.2s ease-in-out;
}

.combat-sidebar li.combatant .roll:hover {
    background: url(../icons/d10.png) no-repeat 50% 50%;
    background-size: 40px;
}

select:disabled {
    appearance: none;
    color: var(--color-text-dark-primary);
}

input:enabled:hover,
select:enabled:hover {
    box-shadow: 0 0 8px var(--shadow-hover-color);
}

.roll.d10.S0-d10 {
    background-size: 36px;
    height: 36px;
    min-width: 36px;
    width: 36px;
    line-height: 42px;
    font-size: var(--font-size-13);
}

.roll.d10.S0-d10-small {
    background-size: 28px;
    height: 28px;
    min-width: 28px;
    width: 28px;
    line-height: 32px;
    font-size: var(--font-size-11);
}

.chat-message {
    background: var(--secondary-color-alpha-50);
}

.chat-message.whisper {
    background: var(--whisper-color-alpha-50);
}

.chat-message.blind {
    border-color: var(--primary-color-alpha-50);
}

.message-sender,
.message-metadata,
.chat-message {
    max-width: 270px;
    color: var(--primary-color);
    text-shadow: 0 0px 2px rgba(240, 10, 10, 1);
}

.message-content button {
    padding: 0;
}

.message-content button:focus,
.message-content button:hover {
    box-shadow: 0 0 3px var(--primary-color-alpha);
}

.dialog .dialog-buttons .cancel,
.dialog .dialog-buttons .confirm {
    background-color: var(--secondary-color-alpha);
    transition: background-color 0.3s;
    box-shadow: 0 0 6px var(--shadow-color);
}

.dialog .dialog-buttons .cancel:hover,
.dialog .dialog-buttons .confirm:hover {
    background-color: var(--primary-color-alpha);
}

.form-group hr {
    width: 100%;
    margin-top: 4px;
    flex: none;
}

img.S0-clickable {
    cursor: pointer;
    background-color: var(--secondary-color-alpha-50);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-color: var(--secondary-color-alpha);
}

img.S0-clickable:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--shadow-hover-color);
    background-color: var(--secondary-color);
}

.sheet img[data-edit]:not(.S0-clickable) {
    border: none;
    cursor: default;
}

#token-hud .status-effects {
    width: 140px;
    column-gap: 2px;
    row-gap: 2px;
}

#token-hud .status-effects .effect-control {
    width: 36px;
    height: 36px;
}

/* #endregion */

/* #region MY STYLES */
.window-content.S0-page-transparent {
    color: var(--primary-color);
    background-color: var(--primary-color-alpha-50);
    background: url(/ui/denim075.png) repeat;
    margin: 0;
}

.S0-page-transparent-2 {
    color: var(--primary-color);
    background-color: var(--shadow-color-30);
    background: url(/ui/denim.png) repeat;
}

.S0-page-transparent select,
.S0-page-transparent input {
    color: var(--primary-color);
}

.S0-page-transparent .S0-container label,
.S0-page-transparent .S0-page label,
.S0-page-transparent .S0-page label {
    text-shadow: 0 0 6px var(--primary-color-alpha);
}

.S0-page-transparent .S0-page h1,
.S0-page-transparent .S0-page h2,
.S0-page-transparent .S0-page h3,
.S0-page-transparent .S0-page h4 {
    text-shadow: 0 0 6px var(--primary-color-alpha);
}

.S0-page {
    margin-inline: 0;
    border: none;
}

.S0-page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.S0-page h1,
.S0-page h2,
.S0-page h3,
.S0-page h4 {
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 1px var(--shadow-color-30);
}

.S0-container label,
.S0-page label,
.S0-page strong {
    text-shadow: 0 1px 4px var(--shadow-color-30);
}

.S0-container {
    margin-block: 6px;
    padding: 6px;
    border: 2px solid var(--secondary-color-alpha);
    border-radius: var(--border-radius-large);
    background-color: var(--secondary-color-alpha-50);
    box-shadow: 0 1px 4px 1px var(--secondary-color-alpha-50);
}

.S0-container-2-column {
    display: grid;
    column-gap: 10px;
    grid-row-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}

.S0-container-3-column {
    display: grid;
    column-gap: 10px;
    grid-row-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
}

.S0-container-4-column {
    display: grid;
    column-gap: 10px;
    grid-row-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

.S0-container-5-column {
    display: grid;
    column-gap: 10px;
    grid-row-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    justify-items: center;
}

.S0-container h1,
.S0-container h2,
.S0-container h3,
.S0-container h4 {
    margin: 0px
}

.S0-container input {
    border: 2px solid var(--secondary-color-alpha-50);
    border-radius: var(--border-radius-large);
}

.S0-container select {
    color: var(--primary-color-alpha);
}

.S0-container select:hover {
    color: var(--primary-color);
    background: var(--secondary-color-alpha-50);
}

.S0-container input:focus,
.S0-container input:hover {
    color: var(--primary-color);
    background: var(--secondary-color-alpha-50);
}

.S0-actor-sheet section {
    margin-inline: 0px;
}

.S0-actor-sheet img {
    max-width: 220px;
    border-radius: 50%;
    margin: 6px;
}

.S0-actor-sheet button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--secondary-color);
    box-shadow: 0 0 6px var(--shadow-color);
    transition: background-color 0.3s;
}

.S0-actor-sheet button:hover {
    background-color: var(--primary-color-alpha);
}

.S0-float-right-sheet {
    position: absolute;
    left: 100%;
    margin: 0px;
    list-style-type: none;
    padding: 0;
}

.S0-simulate-button.S0-selected {
    background-color: var(--color-gray-alpha);
    box-shadow: 0px 3px 3px 0px var(--shadow-color);
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    transition: background-color 0.3s;
}

.S0-simulate-button {
    margin-block: 4px;
    padding: 6px;
    font-size: var(--font-size-13);
    background-color: var(--secondary-color-alpha);
    width: 130px;
    color: white;
    border-radius: var(--border-radius-small);
    box-shadow: 0px 1px 3px 0px var(--shadow-color);
    transition: background-color 0.3s;
}

.S0-simulate-button:hover {
    cursor: pointer;
    color: black;
    background-color: var(--primary-color-alpha);
    transition: background-color 0.3s;
}

.S0-marked {
    color: black;
    background-color: var(--primary-color);
}

.S0-page hr {
    border: none;
    border-top: 1px solid var(--secondary-color-alpha-50);
    border-bottom: 1px solid var(--secondary-color-alpha);
}

.S0-infinity-horizontal-menu {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 10px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* #region ENHANCEMENT */
.S0-enhancement-container {
    display: grid;
    column-gap: 6px;
    row-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
}

.S0-enhancement {
    border-radius: var(--border-radius-medium);
    background-color: rgb(127 127 127 / 34%);
    padding: 5px;
    box-shadow: 0 1px 2px var(--shadow-color);
    border: 1px solid rgb(255 255 255 / 50%);
}

.S0-select option,
.S0-select optgroup,
.S0-enhancement option,
.S0-enhancement optgroup {
    color: white;
    background: var(--secondary-color);
}

.S0-enhancement ul {
    margin: 0px;
    background-color: rgba(130, 130, 130, 0.3);
    padding: 5px;
    border-radius: var(--border-radius-medium);
}

.S0-enhancement ul li {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.S0-enhancement ul li :not(:first-child) {
    margin-left: 6px;
}

.S0-select,
.S0-enhancement select {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    width: 100%;
    border: 2px solid var(--shadow-color);
    padding: 3px 4px;
    border-radius: var(--border-radius-medium);
    background-color: var(--shadow-color-30);
    box-shadow: 0 1px 4px 1px var(--shadow-color);
}

.S0-select:focus,
.S0-select:hover,
.S0-enhancement select:focus,
.S0-enhancement select:hover {
    border: 2px solid var(--secondary-color-alpha);
    background-color: var(--secondary-color-alpha-50);
    box-shadow: 0 0 8px var(--shadow-hover-color);
}

.S0-inner-select,
.S0-enhancement li select {
    background-color: rgba(215, 215, 215, 0.2);
    box-shadow: inset 0 0 5px 0px rgba(40, 40, 40, 0.6);
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

.S0-enhancement .S0-characteristic {
    margin-left: 6px;
}

.S0-enhancement .S0-characteristic:hover {
    box-shadow: 0 0 8px var(--shadow-hover-color);
}

/* #endregion */

/* #region CHARACTERISTIC */
.S0-characteristic-container {
    width: 100%;
    display: flex;
    height: 28px;
    align-items: center;
}

.S0-characteristic-container label {
    flex: 2;
    margin: 0px;
}

.S0-characteristic-container a {
    margin-inline: 5px;
}

.S0-characteristic {
    flex: 1;
    max-width: 14px;
    max-height: 14px;
    min-width: 14px;
    min-height: 14px;
    margin: 2px 1px;
    border: black solid 2px;
    transition: background-color 0.3s;
    transform: skew(-16deg);
}

.S0-clickable.S0-characteristic {
    background-color: var(--sheet-color);
}

.S0-clickable.S0-characteristic.S0-selected {
    background-color: var(--alternate-black-color);
}

.S0-clickable.S0-characteristic:hover {
    cursor: pointer;
    background-color: var(--focus-color);
    box-shadow: 0 0 8px var(--shadow-hover-color);
}

.S0-characteristic-temp {
    transform: none;
    border-radius: var(--border-radius-small);
}

.S0-characteristic-6 {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-width: 3px;
}

.S0-selected {
    background-color: var(--alternate-black-color);
}

.S0-letal,
.S0-clickable.S0-letal,
.S0-clickable.S0-superficial:hover {
    background-color: var(--secondary-color);
}

.S0-superficial,
.S0-clickable.S0-superficial {
    background-color: var(--primary-color);
}

.S0-clickable.S0-letal:hover,
.S0-clickable.S0-selected:hover {
    background-color: var(--selected-color-hover);
    box-shadow: 0 0 8px var(--shadow-hover-color);
}

/* #endregion */

/* region BIOGRAPHY */

/* endregion */

/* #region DIALOG*/
.S0-dialog-content {
    margin: 0;
    margin-bottom: 5px;
}

.S0-dialog-content h1,
.S0-dialog-content h2,
.S0-dialog-content h3,
.S0-dialog-content h4 {
    margin: 0;
    text-shadow: 0 1px 1px var(--shadow-color-30);
}

.S0-dialog-content label {
    display: block;
    text-shadow: 0 1px 5px var(--shadow-color);
}

/* #endregion */

/* #region SITUATION PAGE */
.S0-ul-flex {
    display: flex;
    gap: 8px;
    margin-block: 8px;
}

.S0-ul-flex li {
    flex: 1;
}

.SO-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6px;
}

.S0-inner-li {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: none;
    box-shadow: none;
    background: none;
    margin: 0px;
    padding: 0px
}

#vitalidade {
    display: flex;
    row-gap: 6px;
    column-gap: 18px;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* #endregion */

/* #region MESSAGE*/
button.S0-roll-result {
    font-family: 'Setor0';
    color: var(--primary-color);
    text-shadow: 0 0px 2px rgba(240, 10, 10, 1);
    padding: 0;
    letter-spacing: 0.1em;
}

button.S0-roll-result:not([disabled]):hover {
    color: var(--secondary-color);
}

.S0-message-content hr {
    border-color: var(--light-secondary-color-alpha-50);
}

.S0-message-content button:disabled {
    cursor: default;
    color: black;
    background-color: gray;
    text-shadow: none;
    box-shadow: none;
    border: none;
}

.S0-dice {
    background: url(systems/setor0OSubmundo/icons/dn.png) no-repeat 0%;
    background-size: 36px;
    height: 36px;
    width: 36px;
}

.S0-dice.S0-d10 {
    background: url(systems/setor0OSubmundo/icons/d10.png) no-repeat 0%;
}

.S0-dice.S0-d1 {
    background: url(systems/setor0OSubmundo/icons/d1.png) no-repeat 0%;
}

.S0-d10 {
    filter: sepia(1);
}

.S0-d10-overload {
    filter: sepia(1) hue-rotate(330deg);
}

.S0-roll-result {
    margin: 2px 0px;
    line-height: 24px;
    text-align: center;
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 2px var(--primary-color-alpha) inset;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.S0-roll-result.S0-success {
    background: rgba(30, 200, 50, 0.5);
}


.S0-roll-result.S0-failure {
    background: rgba(200, 30, 30, 0.5);
}

.S0-roll-result.S0-critical-failure {
    background: rgba(255, 0, 0, 0.8);
}

.S0-roll-result.S0-overload {
    border: dashed 2px white;
    box-shadow: none;
}

.S0-roll-result.S0-overload:hover {
    border: dashed 2px black;
    box-shadow: none;
}

/* #endregion */

/* #region EQUIPMENT */
.S0-full-background {
    /* background-image: url(../imgs/body.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
}

.S0-bag {
    display: flex;
    justify-content: space-between;
    row-gap: 6px;
    flex-wrap: wrap;
}

.S0-item-bag {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--shadow-color-30);
    justify-items: center;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    border: 2px solid var(--secondary-color-alpha);
    border-radius: var(--border-radius-large);
    box-shadow: 0 0 6px 0px var(--secondary-color-alpha);
}

.S0-item-legend {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: var(--secondary-color-alpha-50);
    border-top: 1px solid var(--secondary-color-alpha);
    padding-block: 2px;
    border-radius: 0px 0px var(--border-radius-medium) var(--border-radius-medium);
}

.S0-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.S0-item-type {
    position: absolute;
    background-color: var(--primary-color-alpha-50);
    border-radius: 6px 6px 0px 0px;
    border-bottom: solid 1px var(--secondary-color-alpha);
    font-size: var(--font-size-10);
    padding-block: 2px;
}

.S0-item-name {
    width: 100%;
    position: absolute;
    font-size: var(--font-size-11);
    font-weight: bold;
    text-align: end;
    text-shadow: 0 0 6px var(--primary-color-alpha);
    bottom: 22px;
    padding: 2px;
}

.S0-item-bag.S0-clickable {
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s ease-in-out;
}

.S0-item-bag.S0-clickable:hover {
    transform: scale(1.08);
    cursor: pointer;
    background-color: var(--secondary-color-alpha-50);
}

.S0-item-bag img {
    width: 100%;
    height: 100%;
    padding: 2px 4px;
    max-width: none;
    border: none;
    margin: 0;
    border-radius: 0;
    background: none;
}
/* #endregion */

/* #region */

.item-selector-dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-carousel {
    text-align: center;
    padding: 8px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
}

.item-carousel .item-card {
    background-color: var(--secondary-color-alpha-50);
    min-width: 100px;
    flex-shrink: 0;
    scroll-snap-align: start;
    border: 1px solid var(--secondary-color-alpha-50);
    border-radius: var(--border-radius-medium);
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.item-card {
    display: inline-block;
    position: relative;

}

.item-card.selected {
    border-color: var(--color-border-highlight);
    background: rgba(0, 128, 255, 0.1);
}

.item-carousel .item-card img {
    border: none;
    width: 64px;
    height: 64px;
}

.item-carousel .item-card:hover {
    background-color: var(--secondary-color-alpha);
    transform: scale(1.05);
    border-color: var(--secondary-color-alpha);
}

.item-details {
    min-height: 100px;
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    color: white;
}

.checkbox-wrapper {
    position: absolute;
    top: 4px;
    right: 4px;
}

/* #endregion */

/* #endregion */